.customer-details {
  .form {
    margin-bottom: 20px;

    .form-header {
      font-size: 20px;
      color: $primary-color !important;
      margin-bottom: 20px;
    }
  }
}

.terms-conditions-error-msg {
  margin-left: 20px;
  color: rgb(221, 44, 0);
}
