$primary-color: #0a539e;
$secondary-color: #ED1C2C;

$subtitle-color: #777777;
$very-light-blue: #e8f7ff;

$primary-font: $font-family-sans-serif;

$cubic-bezier-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
