.center-align {
    padding: 12% 0;
}

.login-title {
    margin-bottom: 2%;
}

.loginForm {
    max-width: 30%;
    border: 2px solid black;
    padding: 15px;
    margin: auto;
}

.loginBtn {
    width: 100%;
}

.forgotPass-signUp {
    margin-top: 15px;
}